<!-- 로그인 후 '대학생,청년' 메인 화면 -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>main_002</title>
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/home/main_002.css' %}">

        <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="layout-outer">
            <!-- 헤더 -->
            <header class="header layout-inner">
                <div class="header-inner">
                    <!-- 왼쪽 로고 + 연령 -->
                    <div class="left-header">
                        <span class="logo"><strong>Elevate:Seoul</strong></span>
                        <span class="header-age-label">청소년</span>
                    </div>

                    <!-- 오른쪽 후기,멘토질문방,커뮤니티 버튼 -->
                    <div class="right-header">
                        <div class="btns">
                            <button class="review-btn">후기</button>
                            <button class="qna-btn">멘토 질문방</button>
                            <button class="com-btn">커뮤니티</button>
                            <button class="mypage-btn">
                                <img src="{% static 'assets/image/dog.png' %}">
                                <span id="user-nickname"></span>
                            </button>
                        </div>
                </div>
            </header>

            <!-- 메인 -->
            <main class="layout-inner">
                <!-- 메인 첫번째 줄 (그래프) -->
                <section class="main1_layout-inner graph-wrapper">
                    <div class="graph-section">
                        <div class="graph-item" data-age="infant">
                            <div>
                                <img src="{% static 'assets/image/Vector 1.png' %}"
                                     onmouseover="this.src='{% static 'assets/image/Vector 1-hover.png' %}'"
                                     onmouseout="this.src='{% static 'assets/image/Vector 1.png' %}'">
                            </div>
                            <div class="age-text">
                                <span class="main-age-label">영유아</span>
                                <span class="main-age-range">0~6세</span>
                            </div>
                        </div>
                        <div class="graph-item" data-age="teen">
                            <div>
                                <img src="{% static 'assets/image/Vector 2.png' %}"
                                     onmouseover="this.src='{% static 'assets/image/Vector 2-hover.png' %}'"
                                     onmouseout="this.src='{% static 'assets/image/Vector 2.png' %}'">
                            </div>
                            <div class="age-text">
                                <span class="main-age-label">청소년</span>
                                <span class="main-age-range">6~18세</span>
                            </div>
                        </div>
                        <div class="graph-item" data-age="youth">
                            <div>
                                <img src="{% static 'assets/image/Vector 3.png' %}"
                                     onmouseover="this.src='{% static 'assets/image/Vector 3-hover.png' %}'"
                                     onmouseout="this.src='{% static 'assets/image/Vector 3.png' %}'">
                            </div>
                            <div class="age-text">
                                <span class="main-age-label">대학생·청년</span>
                                <span class="main-age-range">19~34세</span>
                            </div>
                        </div>
                        <div class="graph-item" data-age="middle">
                            <div>
                                <img src="{% static 'assets/image/Vector 4.png' %}"
                                     onmouseover="this.src='{% static 'assets/image/Vector 4-hover.png' %}'"
                                     onmouseout="this.src='{% static 'assets/image/Vector 4.png' %}'">
                            </div>
                            <div class="age-text">
                                <span class="main-age-label">중장년</span>
                                <span class="main-age-range">35~64세</span>
                            </div>
                        </div>
                        <div class="graph-item" data-age="elder">
                            <div>
                                <img src="{% static 'assets/image/Vector 5.png' %}"
                                     onmouseover="this.src='{% static 'assets/image/Vector 5-hover.png' %}'"
                                     onmouseout="this.src='{% static 'assets/image/Vector 5.png' %}'">
                            </div>
                            <div class="age-text">
                                <span class="main-age-label">노인</span>
                                <span class="main-age-range">65세 이상</span>
                            </div>
                        </div>
                    </div>
                    <div class="graph-y">
                        <span>전</span>
                        <span>연</span>
                        <span>령</span>
                    </div>
                </section>
                <!-- 집계 날짜 추가 -->
                <div class="month">
                    <span>(집계 2025.06)</span>
                </div>

                <!-- 메인 두번째 줄 -->
                <div class="main2">
                    <!-- 복지 인기 순위 -->
                    <div class="popular-box-wrapper" data-age="청소년">
                        <div class="popular-title">
                            <img src="{% static 'assets/image/fire.svg' %}" alt="불꽃 아이콘">
                            <div><strong>청소년</strong>에게 관심이 많은 복지는?</div>
                        </div>

                        <ul class="popular-list">
                            {% for policy in popular_policies %}
                                <li data-likes="{{ policy.like_count }}">
                                    <span class="pop-rank">{{ forloop.counter|stringformat:"02d" }}</span>
                                    <span class="pop-desc">{{ policy.policy_name }}</span>
                                    <span class="pop-like-number">
                                        <img src="{% static 'assets/img/heart.png' %}" alt="하트"> {{ policy.like_count }}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                    <!-- 생생한 후기 확인하기 -->
                    <div class="rev-box-wrapper">
                        <div class="rev-top">
                        <img src="{% static 'assets/image/fish.svg' %}" alt="fish">
                        <span>생생한 <strong>후기</strong> 확인하기</span>
                        </div>
                        <div class="rev-bottom">
                        {% for review in review_cards %}
                            <div class="rev">
                            <div class="rev-title">{{ review.title }}</div>
                            <div class="rev-con">{{ review.summary }}</div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

            </main>

            <!-- 푸터 -->
            <footer class="footer_layout-inner">
                <div class="footer_top">
                    <div class="footer_logo">
                        <img src="../assets/img/logo.svg" alt="logo">
                        <span>Elevate:Seoul</span>
                    </div>
                </div>
                <div class="footer_bottom">
                    <p>개인정보처리방침</p>
                    <small>ⓒ 2025 AAA. All rights reserved.</small>
                </div>
            </footer>
        </div>
    <script src="{% static 'assets/js/home/main_002.js' %}"></script>
    </body>
</html>