{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/mypage_007.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
    <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
    <title>마이페이지</title>
</head>

<body>
    <div class="layout-outer">
        <!-- 헤더 -->
        <header class="header layout-inner">
            <div class="header-inner">
                <!-- 왼쪽 로고 + 연령 -->
                <div class="left-header">
                    <img class="logo" src="/static/assets/img/logo_header_real.png" alt="logo" />
                    <span class="header-age-label">전연령</span>
                </div>

                <!-- 오른쪽 후기,멘토질문방,커뮤니티 버튼 -->
                <div class="right-header">
                    <div class="btns">
                        <button class="review-btn">후기</button>
                        <button class="qna-btn">멘토 질문방</button>
                        <button class="com-btn">커뮤니티</button>
                        <button class="mypage-btn">
                            <img src="/static/assets/img/dag.png">
                            <span id="user-nickname">{{ user_nickname }}</span>
                        </button>
                    </div>
                </div>
        </header>

        <main>
            <div>
                <div class="scrap_page_title">스크랩 목록</div>
                <!-- 스크랩 리스트 부분 -->
                <div class="scrap_page_body">
                    <!-- JS로 동적 추가 -->
                </div>


                <!--페이지네이션-->
                <div class="pagination">
                    <button class="prev_btn">
                        <img src="/static/assets/img/prev_btn.png" alt="이전">
                    </button>
                    <button class="active">1</button>
                    <button>2</button>
                    <button>3</button>
                    <button class="prev_btn">
                        <img src="/static/assets/img/next_btn.png" alt="이전">
                    </button>
                </div>


            </div>

        </main>

    </div>

    <footer class="footer_layout-inner">
        <div class="footer_top">
            <div class="footer_logo">
                <img src="/static/assets/img/logo_footer_real.png" alt="footer로고">
            </div>
        </div>
        <div class="footer_bottom">
            <p>개인정보처리방침</p>
            <small>ⓒ 2025 AAA. All rights reserved.</small>
        </div>
    </footer>
    </div>
</body>
    <script src="{% static 'assets/js/mypage_007.js' %}"></script>

</html>


</body>