{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'assets/css/login/log_001.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
  <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>log_001</title>
</head>

<body>
  <div class="layout-outer">
    <header class="header_layout-inner">
      <img class="logo" src="/static/assets/img/logo_header_real.png" alt="logo" />
      <div class="main_age">전연령</div>
      <div class="login_btn"><button>로그인/회원가입</button></div>
    </header>

    <main class="layout-inner">
      <h2>로그인</h2>
      <form class="login_main" action="/login/" method="POST">
        {% csrf_token %}

        <input class="login_id" type="text" id="username" name="username" placeholder="아이디를 입력하세요." required />
        <input class="login_password" type="password" id="password" name="password" placeholder="비밀번호를 입력하세요." required />
        <button class="login_btn_submit" type="submit">로그인</button>

        <div class="options">
          <label class="custom_checkbox">
            <input type="checkbox" id="auto-login" name="auto_login"/>
            <span class="checkbox_style"></span>
            <span class="label-text">자동 로그인</span>
          </label>
          <div class="log_links">
            <a href="#">아이디 찾기 | </a>
            <a href="#">비밀번호 찾기 | </a>
            <a href="{% url 'log_002' %}"> 회원가입</a>
          </div>
        </div>
        </form>

    </main>

    <footer class="footer_layout-inner">
      <div class="footer_top">
        <div class="footer_logo">
                <img src="/static/assets/img/logo_footer_real.png" alt="footer로고">
          <span>가제가제가제</span>
        </div>
      </div>
      <div class="footer_bottom">
        <p>개인정보처리방침</p>
        <small>ⓒ 2025 AAA. All rights reserved.</small>
      </div>
    </footer>
  </div>

  <script src="{% static 'assets/js/login/log_001.js' %}"></script>
</body>

</html>