{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'assets/css/login/log_003.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
  <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>log_003</title>
</head>

<body>
  <div class="layout-outer">
    <header class="header_layout-inner">
    <img class="logo" src="{% static 'assets/image/logo.png' %}" alt="logo">
      <div class="main_age">전연령</div>
      <div class="login_btn"><button>로그인/회원가입</button></div>
    </header>

    <main class="layout-inner">
      <h2 class="profile_title">프로필 설정</h2>

      <!--프로필 내용 입력 필드-->
      <!-- 닉네임 -->
      <div class="input_group">
        <label class="input_label">닉네임</label>
        <input type="text" placeholder="3자리 이상" class="input_box">
      </div>

      <!-- 생년월일 -->
      <div class="input_group">
        <label class="input_label">생년월일</label>
        <input type="password" placeholder="8자리 입력" class="input_box">
      </div>

      <!-- 휴대폰번호 -->
      <div class="input_group">
        <label class="input_label">휴대폰번호</label>
        <input type="text" placeholder="휴대폰번호 입력 ('-' 제외)" class="input_box">
      </div>


      <!--나이 선택-->
      <div class="age_title">나이 설정</div>
      <div class="age_group">
        <div class="age_section01">
          <button type="button" class="age_btn">영유아</button>
          <button type="button" class="age_btn">청소년</button>
          <button type="button" class="age_btn">대학생·청년</button>
        </div>
        <div class="age_section02">
          <button type="button" class="age_btn">중장년</button>
          <button type="button" class="age_btn">노인</button>
          <button type="button" class="age_btn">전연령</button>
        </div>
      </div>
      <a href="/static/html/log_001.html" class="submit_btn">회원가입</a>
    </main>
  </div>

  <footer class="footer_layout-inner">
    <div class="footer_top">
      <div class="footer_logo">
        <img src="../assets/img/logo.svg" alt="logo">
        <span>가제가제가제</span>
      </div>
    </div>
    <div class="footer_bottom">
      <p>개인정보처리방침</p>
      <small>ⓒ 2025 AAA. All rights reserved.</small>
    </div>
  </footer>
</body>
<script src="/static/js/log_003.js"></script>

</html>