{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>rev_002</title>
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/section/rev_002.css' %}" />
        <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="layout-outer">
            <!-- 헤더 -->
            <header class="header layout-inner">
                <div class="header-inner">
                    <!-- 왼쪽 로고 + 연령 -->
                    <div class="left-header">
                        <img class="logo" src="/static/assets/img/logo_header_real.png" alt="logo" />
                    </div>

                    <!-- 오른쪽 후기,멘토질문방,커뮤니티 버튼 -->
                    <div class="right-header">
                        <div class="btns">
                            <button class="review-btn">후기</button>
                            <button class="qna-btn">멘토 질문방</button>
                            <button class="com-btn">커뮤니티</button>
                            <button class="mypage-btn">
                                <img src="{% static 'assets/img/dog.png' %}" alt="dog" />
                                <span id="user-nickname">{{ user_nickname }}</span>
                            </button>
                        </div>        
                </div>
            </header>

            <!-- 메인 -->
            <main>
                <form action= "{% url 'review_create' %}" method="POST" class="write-form">
                    {% csrf_token %}
                    <!-- 제목 부분 -->
                    <div class="write-title">
                        <h3>제목</h3>
                        {{ form.title }}
                        <img src="{% static 'assets/img/Vector 6.png' %}" />
                    </div>
                    
                    <!-- 후기 작성 부분 -->
                    <div class="write-content">
                        <h3>후기 작성</h3>
                        {{ form.content }}
                    </div>

                    <!-- 취소 버튼, 등록 버튼 -->
                    <div class="upload-yn">
                        <button type="button" id="write-cancel-btn" onclick="history.back()">취소</button>
                    <button type="submit" id="write-upload-btn">등록하기</button>
                    </div>
                </form>
            </main>

            <!-- 푸터 -->
            <footer class="footer_layout-inner">
                <div class="footer_top">
                    <div class="footer_logo">
                        <img src="/static/assets/img/logo_footer_real.png" alt="footer로고">
                    </div>
                    </div>
                    <div class="footer_bottom">
                        <p>개인정보처리방침</p>
                        <small>ⓒ 2025 AAA. All rights reserved.</small>
                    </div>
            </footer>
        </div>
        <script src="{% static 'assets/js/rev_002.js' %}"></script>
    </body>
</html>