/* 로그아웃 시 헤더 */
.header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #D8D8D8;
}

.header-inner{
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: 120px;
    padding: 6px 80px;
    justify-content: space-between;
    align-items: center;
}

.left-header{ /* 헤더 왼쪽 */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
}

.logo{
    color: #000;
    font-family: Pretendard;
    font-size: 36px;
    font-weight: 700;
}

.header-age-label{
    color: #595959;
    font-family: Pretendard;
    font-size: 28px;
    font-weight: 600;
}

.login-button{
    color: #FFF;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 10px;
    border: none;
    border-color: #236DB9;
    background: #236DB9;
    display: flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* 메인 */
/* 첫번째: 연령 그래프 */
.graph-section{
    display: flex;
    gap: 0px;
    align-items: flex-end;
    justify-content: center;
    margin-left: 307px;
}

.graph-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main-age-label{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 42px;
    font-weight: 700;
    line-height: 54.6px;
}

.main-age-range{
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;
}

.age-text{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.graph-wrapper{
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 100%;
}

.graph-y{
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Pretendard;
    font-size: 42px;
    font-weight: 700;
    line-height: 67.2px;
    margin-top: 137px;
}

.month{
    color: #C8C8C8;
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    margin: 30px 300px 0px 1430px;
}

/* 메인 두번째 줄 */
.main2{
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: 200px;
    justify-content: center;
}

/* 두번째 왼쪽: 인기 복지 박스 */
.popular-box-wrapper{
    width: 890px;
    height: 577px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F3F9FF;
}

.popular-list{
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    margin-right: 40px;
    margin-bottom: 20px;
    gap: 20px;
}

.popular-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.popular-title{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 43.5px;
    margin-bottom: 30px;
    gap: 10px;
}

.popular-title div:nth-child(2){
    color: #000;
    font-family: Pretendard;
    font-size: 42px;
    font-weight: 600;
    line-height: 67.2px;
}

.popular-title strong{
    color: #000;
    font-family: Pretendard;
    font-size: 42px;
    font-weight: 700;
    line-height: 160%;
}
.pop-rank{
    color: #000;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    margin-right: 10px; 
}

.pop-desc{
    color: #000;
    font-family: Pretendard;
    font-size: 36px;
    font-weight: 600;
    line-height: 64px;
    flex:1 ;
}

.pop-like-number{
    display: flex;
    flex-direction: row;
    color: #656565;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 400;
    align-items: center;
}

.pop-like-number img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 6px;
}